@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers


<form asp-action="CreateProduct" asp-controller="Product" method="post">

     
<style>
    #box {
        
        text-align: center;
       
    }
</style>
   
     <div id="box"> 

    <input type="text" name="txtName" placeholder="Name" />

    </br>

    <input type="text" name="txtProductPrice" placeholder="Price" />

    </br> </br>

    <button >ADD PRODUCT</button>

     </div>
</form>



