
@model List<ilkkderss.Models.Product>


    <h3>VİEW BAGLE NESNE GÖNDERİMİ</h3>
    <ul>

    @*DİNAMİK OLARAK VERİLERİMİ TAŞIYORUM*@

    @foreach (var product in ViewBag.products as List<ilkkderss.Models.Product> )
    {
        <li>

            @product.ProductName


        </li>


        
    }


                
    
    </ul>

     <h3>VİEW DATA KULLANIMI</h3>
    <ul>

    @*OBJECTS OLARAK GETİRİP UNBOXİNG YAPTIM*@

    @foreach (var product in ViewData["products"] as List<ilkkderss.Models.Product> )
    {
        <li>

            @product.ProductName


        </li>


        
    }


                
    
    </ul>

